/*
 *
 * Common
 *
 */
body, html, .main{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  color: #000;
  font-size: 12px;
  color: #424242;
}

h1, h3, h4, h5 {
  margin: 0;
}
h2 {
   margin: 10px 20px;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img ,object,video{
  max-width: 100%;
}
.row {
  margin-right: auto;
}

/*
 *
 * Header
 *
 */


 .header__logo {
   height: 72px;
   margin-right: 1em;
   vertical-align: top;
   margin-top: 12px;
 }

.header__titles{
  text-align: right;
  margin: 25px 0px 0px 0px;
}

 .header__title {
   font-weight: 300;
   font-size: 4em;
   color: #212121;
 }

.logo {
    margin: 2px 0 4px 13px;
    border-radius: 29%;
    width: 175px;
}

#slogan {
    margin: 25px 0 0 0;
}

/*
*
*
*
*Body
*
*/

.featured-work img {
    height: 270px;
    max-height: 270px;
    max-width: 330px;
}

@media screen  and (max-width:992px) {

  h1, h2, h3, th, p {
    text-align: center;
  }
  .logo {
    display: none;
  }
  .pull-right {
    float: none !important;
  }
  .header__titles {
    text-align: center;
  }
  .featured-work img{
    max-height: 100%;
    height: auto;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
  }
  P {
    font-size: 20px;
  }
  .social {
    text-align: center;
  }
  table{
    width: 100%;
  }
}

/*
*
*
*
*Footer
*
*/

.footer {
    margin-bottom: 20px;
}

.social p {
    font-size: 30px;
    cursor: pointer;
    display: inline;
}
.face:hover{color: white;background: #0363f9;}
.twitter:hover{color: #1da1f2;}
.google-plus:hover{color: red;}
