/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {
max-width:100%;
}

article {
max-width:1200px;
min-width:600px;
margin :auto;

}

h1 {
text-align:center;
}

img {
max-width:100%;
}
footer{
  width: 100%;
}
